.home {
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
  background-color: #c3e4f3;
  padding: 1rem;
  color: #253949;
  width: 100%;
  min-width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 0.8em;
      font-weight: bold;
      display: block;
    }

    .form__input--city {
      width: 300px;
    }
  }
}
